body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #0e0e10, #1a1a1a);
}

.ball {
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at 30% 30%, #00b3ff, #007acc);
  border-radius: 50%;
  animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 0);
  }
  30% {
    transform: translate(-50%, -180px);
  }
  50% {
    transform: translate(-50%, -200px);
  }
  70% {
    transform: translate(-50%, -180px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}