body{
    background-color: black;
}

p{
    color: fuchsia;
}

.monke{
    color: lime;
    size: 30px
}

.Card{
    background-color: rgb(58, 58, 58);
    height: 700px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 14%;
}

h7{
    color: aliceblue;
}

button{
    background-color: darkgreen;
    color: honeydew;
    border-radius: 23%;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}