body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  background-color: black;
}

.scale-block {
  width: 150px;
  height: 150px;
  background-color: cornflowerblue;
  transition: 0.3s;
}

.scale-block:hover {
  transform: scale(1.2);
}

.move-button {
  padding: 10px 20px;
  background-color: mediumseagreen;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.move-button:hover {
  transform: translateX(-10px);
}

.rotate-block {
  width: 120px;
  height: 120px;
  background-color: tomato;
  transition: 0.3s;
}

.rotate-block:hover {
  transform: rotate(10deg);
}

.combo-block {
  width: 150px;
  height: 150px;
  background-color: purple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.combo-block:hover {
  transform: scale(1.1) rotate(5deg);
}