.box {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: moveBox;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moveBox {
  0% {
    left: 0;
    background-color: red;
  }
  50% {
    left: 200px;
    background-color: blue;
  }
  100% {
    left: 400px;
    background-color: rgb(0, 255, 0);
  }
}