.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: rgb(46, 13, 177);
    animation:move 10s  infinite; 
}
@keyframes move {
    0% {transform:translateX(300px) ;}
    50% {transform:translateX(0px) ;}
    100% {transform:translateX(300px) ;}


}
button{
    background-color: aqua;
    width: 50px;
    height: 50px;
    color: crimson;
    border-color: darkblue;
    transition: background-color 2s, color 2s, border-color 2s;
    border-radius: 100px;
}


button:hover{
    background-color: blue;
    color: cyan;
    border-color: deeppink;
}

button:active{
    background-color: darkred;
    color: gold;
    border-color: navy;
}