@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

a{
    color:brown;
    background-color: crimson;
}

a:hover{
    color:red;
    background-color: darkred;
}

a:active{
    color:darkred;
    background-color: firebrick;
}

a:visited{
    color: coral;
    background-color: brown;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    border: 2px solid black;
}


tr:nth-child(even){
    background-color: red;
}

tr:nth-child(odd){
    background-color: yellow;
}